<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <form action="/display" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="submit">
        <tr>
            <% for(var index = 0 ; index <3 ; index++) { %>
            <label name="name" for=""><td> <%= Nme[index] %> </td> </label> 
            <label name="name" for=""><td> <%= Title[index] %> </td> </label> 
            <label name="name" for=""><td> <%= Deadline[index] %> </td> </label> 
            <label name="name" for=""><td> <%= Description[index] %> </td> </label> 
            <label name="name" for=""><td> <%= Percentage[index]%> </td> </label> 
            <ul>

             
             <% } %>

           </ul>
<div class="w3-border">
    <div class="w3-grey" style="height:24px;width:55px"></div>
  </div>
    </form>   
</body>
</html>