<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <form action="/displaypost" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="submit">
      

    </form>   
    Hello name


    <ul>       <% for(var i=0; i<data.length; i++) {%>

      <li>
        <p>Domain:<%= data[i].Domain %></p>
         <p>Title:<%= data[i].Title %></p>
         <p> Deadline:<%= data[i].Deadline %></p>
         <p> Description:<%= data[i].Description %></p>
         
       
         <ul>
           Resources:
          <% for(var k=0; k<data[i].arrr.length; k++) {%>
            <li>
         <p><%= data[i].arrr[k] %></p>
         </li>
        <%}%>
        

      </ul>
         <ul>
          <p> Your Tasks:</p>
            <% for(var j=0; j<data[i].arrayy.length; j++) {%>
              <li>
                <p>
                  <form action="/update" method="POST">
  <input type="checkbox" name="checkbox" class="checkbox" value ="0" class="checkbox" onclick="select(this)"><%=data[i].arrayy[j].status%>
           <%=data[i].arrayy[j].subname%></p>
           </form>
        
            </p>
           </li>
          <%}%>
        </ul>

  </li>
 <%}%>
    </ul>
    <button></button>
    <div class="w3-border">
      <div class="w3-grey" style="height:24px;width:<%=percentage%>"></div>
    </div>
    
<script>

</script>
</body>
</html>


