<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <form action="/displaypost" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="submit">
      
<div class="w3-border">
    <div class="w3-grey" style="height:24px;width:55px"></div>
  </div>
    </form>   
    <ul>       <% for(var i=0; i<data.length; i++) {%>

      <li>
         <p><%= data[i].Title %><%= data[i].Deadline %><%= data[i].Description %><%= data[i].subtaskname %><%= data[i].subtaskstatus %></p>

         <ul>
          <% for(var k=0; k<data[i].arrr.length; k++) {%>
            <li>
         <p><%= data[i].arrr[k] %></p>
         </li>
        <%}%>
        

      </ul>
         <ul>
            <% for(var j=0; j<data[i].arrayy.length; j++) {%>
              <li>
                <p>
               
            <label><input type="checkbox" onclick="myfunc()" ><%=data[i].arrayy[j].subname%></label>
            <label id="status" ><%=data[i].arrayy[j].status%></label>
            </p>
           </li>
          <%}%>
        </ul>

  </li>
 <%}%>
    </ul>
     
    <div class="w3-border">
      <div class="w3-grey" style="height:24px;width:<%=percentage%>px"></div>
    </div>
<script>
  
function myfunc(){
  document.getElementsById('status').innerHTML="1"
}
</script>
</body>
</html>


